<a href="https://colab.research.google.com/github/Jeyaa-NKS/Pandas-Basics/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem 1

import pandas as pd
df = pd.DataFrame({'X':[34,76,43,84,23], 'Y':[95,35,36,28,56],'Z':[16,74,87,63,41,]});
print(df)

    X   Y   Z
0  34  95  16
1  76  35  74
2  43  36  87
3  84  28  63
4  23  56  41

In [ ]:
#Problem 2
import pandas as pd
import numpy as np

data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data )
print(df)

      Name  Age       Address Qualification
0   Portia   27    California            MS
1   Antony   24  Los Aangeles            MA
2  Lucifer   22      New York           MCA
3     Jane   32        Warsaw           Phd

In [ ]:
#Problem 3
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4 non-null      object
 1   Age            4 non-null      int64
 2   Address        4 non-null      object
 3   Qualification  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes
None

In [ ]:
#PROBLEM 4
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
df = pd.DataFrame(data )
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
      Name  Age       Address Qualification
0   Portia   27    California            MS
1   Antony   24  Los Aangeles            MA
2  Lucifer   22      New York           MCA

In [ ]:
#problem 5
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}


df = pd.DataFrame(data )
print("Select specific columns:")
print(df[['Name', 'Age']])

Select specific columns:
      Name  Age
0   Portia   27
1   Antony   24
2  Lucifer   22
3     Jane   32

In [ ]:
#problem 6
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}


df = pd.DataFrame(data)
print("Select specific columns and rows:")
print(df.iloc[[1,2,3], [1, 2]])

Select specific columns and rows:
   Age       Address
1   24  Los Aangeles
2   22      New York
3   32        Warsaw

In [ ]:
#problem 7
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}


df = pd.DataFrame(data)
print("age greater than 22:")
print(df[df['Age'] > 22])

age greater than 22:
     Name  Age       Address Qualification
0  Portia   27    California            MS
1  Antony   24  Los Aangeles            MA
3    Jane   32        Warsaw           Phd

In [ ]:
#problem 8
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[27, 24, 22, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data )
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 4
Number of Columns: 4

In [ ]:
#problem 9
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[np.nan, 24, np.nan, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data )
print("Rows where age is missing:")
print(df[df['Age'].isnull()])

Rows where age is missing:
      Name  Age     Address Qualification
0   Portia  NaN  California            MS
2  Lucifer  NaN    New York           MCA

In [ ]:
#problem 10
import pandas as pd
import numpy as np
data = {'Name':['Portia', 'Antony', 'Lucifer', 'Jane'],
        'Age':[np.nan, 24, np.nan, 32],
        'Address':['California', 'Los Aangeles', 'New York', 'Warsaw'],
        'Qualification':['MS', 'MA', 'MCA', 'Phd'],
        'score': [5, np.nan,8,4],
        'attempts': [1, 3, 2, 2],
        'qualify': ['yes', 'no', 'yes', 'no']}


df = pd.DataFrame(data )
print("Rows where score between 2 and 8 (inclusive):")
print(df[df['score'].between(2, 8)])

Rows where score between 2 and 8 (inclusive):
      Name   Age     Address Qualification  score  attempts qualify
0   Portia   NaN  California            MS    5.0         1     yes
2  Lucifer   NaN    New York           MCA    8.0         2     yes
3     Jane  32.0      Warsaw           Phd    4.0         2      no

In [ ]:
#problem 11
import pandas as pd
import numpy as np
exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim', 'Matthew', 'Lara', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [ ]:
#problem 12
import pandas as pd
import numpy as np
exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim', 'Matthew', 'Lara', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nOriginal data frame:")
print(df)
print("\nChange the score in row 'd' to 11.5:")
df.loc['d', 'score'] = 11.5
print(df)

Original data frame:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes
g  Matthew   14.5         1     yes
h     Lara    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane   11.5         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes
g  Matthew   14.5         1     yes
h     Lara    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes

In [ ]:
#problem 13
import pandas as pd
import numpy as np
exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim', 'Matthew', 'Lara', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [ ]:
#problem 14
import pandas as pd
import numpy as np
exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim','Matthew', 'Lara', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nMean score for each different student in data frame:")
print(df['score'].mean())

Mean score for each different student in data frame:
13.5625

In [ ]:
#problem 15
import pandas as pd
import numpy as np
exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim','Mathew', 'Lara', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Original rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes
g   Mathew   14.5         1     yes
h     Lara    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes

Append a new row:
Print all records after insert a new record:
      name   score attempts qualify
a   Portia    12.5        1     yes
b   Antony     9.0        3      no
c  Lucifer    16.5        2     yes
d     Jane     NaN        3      no
e    Emily     9.0        2      no
f      Kim    20.0        3     yes
g   Mathew    14.5        1     yes
h     Lara     NaN        1      no
i    Kevin     8.0        2      no
j    Jonas    19.0        1     yes
k        1  Suresh      yes    15.5

Delete the new row and display the original  rows:
      name score attempts qualify
a   Portia  12.5        1     yes
b   Antony   9.0        3      no
c  Lucifer  16.5        2     yes
d     Jane   NaN        3      no
e    Emily   9.0        2      no
f      Kim  20.0        3     yes
g   Mathew  14.5        1     yes
h     Lara   NaN        1      no
i    Kevin   8.0        2      no
j    Jonas  19.0        1     yes

In [ ]:
#problem 16
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print("Orginal rows:")
print(df)
df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df)

Orginal rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

In [ ]:
#problem 17
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Original rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
      name  score  attempts  qualify
a   Portia   12.5         1     True
b   Antony    9.0         3    False
c  Lucifer   16.5         2     True
d     Jane    NaN         3    False
e    Emily    9.0         2    False
f      Kim   20.0         3     True

In [ ]:
#problem 18
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nChange the name 'James' to ‘Suresh’:")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

Original rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

Change the name 'James' to ‘Suresh’:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

In [ ]:
#problem 19
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nDelete the 'attempts' column from the data frame:")
df.pop('attempts')
print(df)

Original rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

Delete the 'attempts' column from the data frame:
      name  score qualify
a   Portia   12.5     yes
b   Antony    9.0      no
c  Lucifer   16.5     yes
d     Jane    NaN      no
e    Emily    9.0      no
f      Kim   20.0     yes

In [ ]:
#problem 20
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

Original rows:
      name  score  attempts qualify
a   Portia   12.5         1     yes
b   Antony    9.0         3      no
c  Lucifer   16.5         2     yes
d     Jane    NaN         3      no
e    Emily    9.0         2      no
f      Kim   20.0         3     yes

New DataFrame after inserting the 'color' column
      name  score  attempts qualify   color
a   Portia   12.5         1     yes     Red
b   Antony    9.0         3      no    Blue
c  Lucifer   16.5         2     yes  Orange
d     Jane    NaN         3      no     Red
e    Emily    9.0         2      no   White
f      Kim   20.0         3     yes   White

In [ ]:
#problem 21
import pandas as pd
import numpy as np
exam_data = [{'name':'Kim', 'score':12.5}, {'name':'Jane','score':9}, {'name':'Portia','score':16.5}]
df = pd.DataFrame(exam_data)
for index, row in df.iterrows():
    print(row['name'], row['score'])

Kim 12.5
Jane 9.0
Portia 16.5

In [ ]:
#problem 22
import pandas as pd
import numpy as np

exam_data  = {'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20],
        'attempts': [1, 3, 2, 3, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(exam_data , index=labels)
print(list(df.columns.values))

['name', 'score', 'attempts', 'qualify']

In [ ]:
#problem 23
import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [ ]:
#problem 24
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('Rows for colum1 value == 4')
print(df.loc[df['col1'] == 4])

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

In [ ]:
#problem 25

import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('After altering col1 and col3')
df = df[['col3', 'col2', 'col1']]
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After altering col1 and col3
   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

In [ ]:
#problem 26
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('After add one row:')
df2 = {'col1': 10, 'col2': 11, 'col3': 12}
df = df.append(df2, ignore_index=True)
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After add one row:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5    10    11    12

<ipython-input-24-53955cd1196a>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2, ignore_index=True)

In [ ]:
#problem 27
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('Data from new_file.csv file:')
df.to_csv('new_file.csv', sep='\t', index=False)
new_df = pd.read_csv('new_file.csv')
print(new_df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Data from new_file.csv file:
  col1\tcol2\tcol3
0          1\t4\t7
1          4\t5\t8
2          3\t6\t9
3          4\t7\t0
4          5\t8\t1

In [ ]:
#problem 28
import pandas as pd
df1 = pd.DataFrame({'name': ['Portia', 'Antony', 'Lucifer', 'Jane', 'Emily', 'Kim'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles']})
g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
print(g1)

          city  Number of people
0   California                 4
1  Los Angeles                 2

In [ ]:
#problem 29
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df = df[df.col2 != 5]
print("New DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame
   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1

In [ ]:
#problem 30
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1